<a href="https://colab.research.google.com/github/iqiirascal-lgtm/DAA/blob/main/DAAPertemuan2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

# Terdapat list a dan b
a = [1,2,3]
b = [4,5,6]

# Lalu jumlahkan
hasil = a + b
print(hasil)

# Hasilnya adalah [1,2,3,4,5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
import numpy as np

a = [1,2,3]
b = [4,5,6]

def add(list_a, list_b):
    result = []
    for first, second in zip(list_a, list_b):
        result.append(first + second)
    return result

hasil = add(a,b)
print(hasil)

[5, 7, 9]

In [ ]:
import numpy as np

# Membuat array
nilai_siswa = np.array([85, 55, 40, 90])

# Mengakses data pada array
print(nilai_siswa[3])

90

In [ ]:
import numpy as np

print("Hello, World!")

NAMA = input("Masukkan nama anda: ")
print("Nama saya", NAMA)

NIM = input("Masukkan NIM anda: ")
print("NIM saya", NIM)

Hello, World!
Masukkan nama anda: Reezqee Rascal Gultom
Nama saya Reezqee Rascal Gultom
Masukkan NIM anda: 2024071021
NIM saya 2024071021

In [ ]:
import numpy as np

if 5>2:
  print("Five is greather than two!")

Five is greather than two!

In [ ]:
import numpy as np

x = 5
y = "Jhon"
print(x)
print(y)

5
Jhon

In [ ]:
import numpy as np

x = 4
x = "Sally"
print(x)

Sally

In [13]:
import numpy as np

def getSecond(myList):
  return myList[1]

print(getSecond([1, 2, 3]))

2

In [14]:
import numpy as np

def getLast(myList):
  return myList[-1]

print(getLast([1, 2, 3]))

3